
/* div {color: 
    #b7410e
    #fffaf0
    #f5eddc;} */
    @import "tailwindcss";
    html, body {
        background-color:  burlywood;
        color: black;
       /* font-family: 'Gill Sans', 'Gill Sans MT',  -apple-system, BlinkMacSystemFont, Calibri, 'Trebuchet MS', sans-serif;
        /* font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif; */
        font-family:  ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace 
    }